.footer {
  @include section;

  background-color: var(--accent-bg-color);

  &__container {
    text-align: center;
}

&__nav { 

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  margin: 0 auto 60px;
  }
  
}

    // @media screen and (min-width: 1200px) {
    //   display: flex;
    //   text-align: left;
    //   align-items: baseline;
    // }
  



   &__title {
    display: block;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

   
}
