:root {
  /* bg color */
  --accent-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --primary-bg-color: #ffffff;

  /* text color */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;

  /* btn */
  --btn-bg-hover: #188ce8;

  --btn-border-radius: 4px;

  /* icon color */
  --icon-color: #afb1b8;
}
